.row {
    display: flex;
}

.column {
    flex: 50%;
    font-size: 12px;
}

.column_left {
    text-align: left;
}

.column_right {
    text-align: right;
}

small {
    font-size: 11px;
}

.row img {
    max-width: 100%;
}

.row img+img {
    margin-left: 5px;
}

@media (max-width: 600px) {
    .row img {
        max-width: 150px;
    }
}

table.range,
table.legend {
    border-collapse: collapse;
    font-size: 0.7em;
    font-family: monospace;
}

.nightMode,
.nightMode table.range,
.nightMode table.legend {
    color: #E5FFFF;
}

.nightMode a {
    color: #09F5F5;
}

table.range td,
table.legend td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    overflow: hidden;
}

.nightMode table.range td,
.nightMode table.legend td {
    border: 1px solid #E5FFFF;
}

table.range:hover td {
    cursor: pointer;
}

td {
    background-color: white;
}

table.legend th {
    text-align: left;
    padding: 5px;
}

table.range td.pair {
    border: 2px solid black;
}

.nightMode table.range td.pair {
    border: 2px solid #E5FFFF;
}

table.range td.center {
    font-weight: bold;
    font-size: 1.3em;
}

td.fold {
    background-color: #D6D2D2;
}

.nightMode td.fold {
    background-color: #485153;
}

td.call {
    background-color: #4be488;
}

.nightMode td.call {
    background-color: #009594;
}

td.raise {
    background-color: #FF6A6A;
}

.nightMode td.raise {
    background-color: #8F0707;
}

td.marked {
    background: repeating-linear-gradient(45deg,
            white,
            white 3px,
            #00000070 3px,
            #00000070 6px);
}

.nightMode td.markded {
    background: repeating-linear-gradient(45deg,
            black,
            black 3px,
            #00000070 3px,
            #00000070 6px) !important;
}

td.marked.fold {
    background: repeating-linear-gradient(45deg,
            #D6D2D2,
            #D6D2D2 3px,
            #00000070 3px,
            #00000070 6px);
}

.nightMode td.marked.fold {
    background: repeating-linear-gradient(45deg,
            #485153,
            #485153 3px,
            #00000070 3px,
            #00000070 6px);
}

td.marked.call {
    background: repeating-linear-gradient(45deg,
            #4BE488,
            #4BE488 3px,
            #00000070 3px,
            #00000070 6px);
}

.nightMode td.marked.call {
    background: repeating-linear-gradient(45deg,
            #009594,
            #009594 3px,
            #00000070 3px,
            #00000070 6px);
}

td.marked.raise {
    background: repeating-linear-gradient(45deg,
            #FF6A6A,
            #FF6A6A 3px,
            #00000070 3px,
            #00000070 6px);
}

.nightMode td.marked.raise {
    background: repeating-linear-gradient(45deg,
            #8F0707,
            #8F0707 3px,
            #00000070 3px,
            #00000070 6px);
}

td.blank {
    /* Blanking a cell must have priority */
    background-color: white !important;
}

td.marked.blank {
    background: repeating-linear-gradient(45deg,
            white,
            white 3px,
            #00000070 3px,
            #00000070 6px) !important;
}

.nightMode td.blank {
    background-color: black !important;
}

.nightMode td.marked.blank {
    background: repeating-linear-gradient(45deg,
            black,
            black 3px,
            #CCCCCCA0 3px,
            #CCCCCCA0 6px) !important;
}
